body {
    background-color: hsl(131, 87%, 6%);
}
.container {
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.itcontainer {
    width:90%;
    height:120px;
    background-color:rgb(0, 177, 68);
    border-radius:10px;
    margin-bottom:15px;
    display:flex;
    flex-direction:row;
    opacity:100%;
    transition: opacity 0.5s;
    transition-timing-function: linear;
}
.itcontainer:hover {
    opacity:90%;
}

.imgfruta {
    width:100px;
    height:100px;
    border-radius:100px;
    padding-top:5px;
}
.textofruta {
    font-family: 'Philosopher', sans-serif;
    color:rgb(0, 70, 12);
    font-weight:bold;  
    width:90%;
    height:120px;
    font-size:20px;
    text-align:center;
}
h1,h2 {
    font-family: 'Philosopher', sans-serif;
    text-align:center;
    color:rgb(68, 214, 0);
}
.botaovoltar:link {
    font-family: 'Philosopher', sans-serif;
    display:inline-block;
    width:250px;
    height:50px;
    line-height:50px;
    font-size:20px;
    text-align:center;
    text-decoration:none;
    background-color:rgb(3, 150, 59);
    border-radius:15px;
    color:rgb(0, 0, 0);
}
.botaovoltar:visited {
    color:rgb(0, 0, 0);
}
.botaovoltar:hover {
    background-color:rgb(0, 109, 42);
}
.botaovoltar:active {
    color:rgb(81, 255, 0);
}