body {
    background-color:#07260F;
}
.container {
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.itcontainer {
    width:90%;
    height:120px;
    background-color:#063111;
    border-radius:10px;
    margin-bottom:15px;
    display:flex;
    flex-direction:row;
}


.imgfruta {
    width:100px;
    height:100px;
    border-radius:100px;
    padding-top:5px;
}
.textofruta {
    font-family: 'Philosopher', sans-serif;
    color:#FFFFFF;
    font-weight:bold;  
    width:90%;
    height:120px;
    font-size:20px;
    text-align:center;
}
h1,h2 {
    font-family: 'Philosopher', sans-serif;
    text-align:center;
    color:#FFFFFF;
}
.botaovoltar:link {
    font-family: Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    display:inline-block;
    width:250px;
    height:50px;
    line-height:50px;
    font-size:17px;
    text-align:center;
    text-decoration:none;
    background-color:#063111;
    border-radius:15px;
    color:#FFFFFF;
}
.botaovoltar:visited {
    color:#FFFFFF;
}
.botaovoltar:hover {
    background-color:#034213;
}
.botaovoltar:active {
    color:#FFFFFF;
}